<%# src/views/partials/footer.ejs %>
</main>

<footer class="site-footer">
  <p class="footer-line"><%- (typeof isStag !== 'undefined' && isStag) ? 'Stag Master &#183; Axel' : 'Wedding Master &#183; Lilly &amp; Axel' %></p>
</footer>

<% if (typeof pageScript !== 'undefined' && pageScript) { %>
  <script src="/js/<%= pageScript %>"></script>
<% } %>
</body>
</html>
